.customError {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 250px; */
  height: calc(100vh - 80px);
  width: calc(100% - 60px);
  bottom: 0;
  left: 60px;
}

.customError h1 {
  font-weight: 500;
  font-size: 28px;
  border-right: 1px solid #f00;
  line-height: 40px;
  padding: 2px 25px 0 0;
  margin: 0 25px 0 0;
}

.customError span {
  color: #BBBBBB;
}