.sidebar {
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  padding: 10px 0 0 0;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  z-index: 998;
  width: 50px;
  overflow-x: hidden;
}

.open {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.open div {
  transition: all ease 0.2s;
  cursor: pointer;
  color: #bbb;
  background-color: #383838;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 0 3px 10px 3px;
}

.open div:hover {
  color: #fff;
  background-color: #f00;
}

.open svg {
  height: 13px;
}

.faq {
  flex: 0 0 auto;
  margin: auto 0 10px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  background-color: #2c2c2c;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: all ease 0.2s;
}

.faq:hover {
  color: #fff;
  background-color: #f00;
}

.faq svg {
  width: 8px !important;
}
