.shadow {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 996;
  background-color: #000;
}

.absolute {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 996;
  position: absolute;
  background-color: #000;
}