.CalendarDay__selected_span {
  background: #82e0aa;
  color: white;
  border: 1px solid #f00;
}

.CalendarDay__selected {
  background: #000;
  color: white;
}

.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}

.DayPicker__horizontal,
.CalendarMonthGrid__horizontal,
.CalendarMonth {
  background-color: #232323;
}

.CalendarDay__default {
  position: relative;
  color: #fff;
  font-size: 15px;
  background-color: #232323;
  border: 0;
  border-radius: 5px;
}

.CalendarDay__default:hover div span:nth-child(2) {
  opacity: 1;
}

.CalendarDay__default:hover {
  color: #fff;
  background-color: #f00;
  border: 0;
}

.CalendarMonth_caption {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 50px;
}

.DayPickerNavigation_button__default {
  background-color: #373737;
  border: 1px solid transparent;
  transition: all ease 0.2s;
}

.DayPickerNavigation_button__default:hover {
  background-color: #f00;
  border: 1px solid transparent;
}

.DayPickerNavigation_svg__horizontal {
  fill: #fff;
}

.CalendarDay__blocked_calendar,
.CalendarDay__blocked_calendar:active,
.CalendarDay__blocked_calendar:hover {
  color: #757575;
  background-color: transparent;
}

.CalendarDay__selected,
.CalendarDay__selected:hover {
  color: #fff;
  background-color: #f00;
}

.DayPicker_transitionContainer__horizontal {
  transition: none;
}
