html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #141414;
  font-family: 'Ubuntu', sans-serif;
}

.simplebar-scrollbar::before {
  background: #373737 !important;
  border-radius: 3px;
}