html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #141414;
  font-family: 'Ubuntu', sans-serif;
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error404 h1 {
  font-weight: 500;
  font-size: 28px;
  border-right: 1px solid #f00;
  line-height: 40px;
  padding: 2px 25px 0 0;
  margin: 0 25px 0 0;
}

.error404 span {
  color: #BBBBBB;
}