html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #141414;
  font-family: 'Ubuntu', sans-serif;
}

.simplebar-scrollbar::before {
  background: #373737 !important;
  border-radius: 3px;
}

input {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  min-width: 0;
  border: 0;
  height: 35px;
  font-size: 14px;
  color: #bbbbbb;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #2c2c2c;
  outline: 0;
  transition: all ease 0.2s;
  border: 2px solid transparent;
}

input:focus {
  border: 2px solid #f00;
  background-color: #0d0d0d;
}

input:disabled {
  background-color: #2c2c2c;
  border: 2px solid transparent;
}