.tabs {
  display: flex;
  width: 100%;
  list-style: none;
}

.tabs li {
  color: #bbb;
  cursor: pointer;
  padding: 20px 0;
  flex: 1 1 auto;
  text-align: center;
  transition: all ease 0.2s;
  border-bottom: 2px solid #373737;
}

.tabs li:hover,
.tabs li.active {
  color: #fff;
  border-bottom: 2px solid #f00;
}
