.button {
  position: relative;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  height: 37px;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f00;
  transition: all ease 0.2s;
  margin: 30px 0 0 0;
}

.button:hover {
  background-color: rgb(189, 27, 27);
}

.button:disabled {
  cursor: initial;
  background-color: rgb(189, 27, 27);
}