.link {
  color: #fff;
}

.container {
  position: relative;
  transition: all ease 0.2s;
}

.wrapper {
  position: relative;
}

.thumbnail {
  position: relative;
  transition: all ease 0.1s;
}

.link:hover .thumbnail {
  transform: translate(5px, -5px);
}

.link:hover .background::after {
  opacity: 1;
  top: -5px;
  transform: rotate(45deg) translate(2px, 0);
}

.link:hover .background::before {
  opacity: 1;
  bottom: 0;
  right: -5px;
  transform: rotate(45deg) translate(-2px, 0);
}

.background {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: #f00;
}

.background::after,
.background::before {
  opacity: 0;
  content: '';
  position: absolute;
  background-color: #f00;
  width: 7px;
  height: 7px;
  display: block;
  transition: all ease 0.1s;
  transform: rotate(45deg);
}

.background::after {
  top: -5px;
}

.background::before {
  bottom: 0;
  right: -5px;
}

.thumbnail img {
  z-index: 992;
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.thumbnail > div {
  z-index: 992;
  position: absolute;
  font-size: 12px;
  padding: 3px 10px;
  background-color: #000;
  border-radius: 3px;
}

.image {
  top: 0;
  left: 0;
  position: absolute;
}

.new {
  left: 6px;
  top: 5px;
  text-transform: uppercase;
  background-color: #f00 !important;
}

.duration {
  left: 6px;
  bottom: 5px;
}

.views {
  right: 6px;
  bottom: 5px;
}

.bookmark {
  z-index: 993;
  display: flex;
  right: 6px;
  top: 6px;
  padding: 0 !important;
  background-color: transparent !important;
}

.content {
  position: relative;
}

.title {
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
}

.date {
  font-size: 13px;
  color: #bbbbbb;
}

.check {
  z-index: 993;
  position: absolute;
  right: 0;
  top: 50%;
}

.check,
.bookmark {
  width: 14px;
  transition: all ease 0.2s;
}

.check:active,
.bookmark:active {
  transform: scale(1.3);
}
