.wrapper {
  width: calc(100% - 30px);
  left: 0;
  padding: 20px 25px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 997;
  border-radius: 3px;
  margin: 0 15px;
  background-color: #1c1c1c;
  font-size: 14px;
}

.title {
  color: #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row:last-child {
  margin: 0;
}

.row span {
  cursor: pointer;
}

.close {
  width: 10px;
  cursor: pointer;
  transition: all ease .2s;
}

.close:hover {
  color: #f00;
}

.button {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f00;
  transition: all ease 0.2s;
}

.button:hover {
  background-color: rgb(189, 27, 27);
}