.emoticon {
  display: inline-block;
  margin: 0px 3px;
}

.emoticon img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.chatUser {
  cursor: pointer;
  color: #fff;
  background-color: #444;
  border-radius: 3px;
  padding: 3px 7px;
  margin: 0 3px;
}

.chatUser:hover {
  background-color: #595959;
}
