.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #373737;
}

.input {
  flex: 1 1 50%;
  margin: 17px 0 0 0;
}

.icon {
  position: relative;
  z-index: 997;
  width: 18px;
  color: #bbbbbb;
  cursor: pointer;
  transition: all ease 0.2s;
}

.bottom {
  flex: 1 1 50%;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

.icon:hover {
  color: #fff;
}

.button {
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f00;
  transition: all ease 0.2s;
}

.button:hover {
  background-color: rgb(189, 27, 27);
}
