.wrapper {
  line-height: 24px;
  margin: 5px 0;
  min-height: 30px;
  padding: 0 15px 0 0;
}

.wrapper a {
  color: #f00;
  transition: all ease 0.2s;
}

.wrapper a:hover {
  color: rgb(189, 27, 27);
}

.wrapper span {
  /* display: inline-block; */
  word-wrap: break-word;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.message {
  color: rgb(219, 219, 219);
}

.icons {
  display: inline-block;
}

.icons img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 4px 0 0;
}

.time {
  font-size: 12px;
  margin: 0 5px 0 0;
  color: #6b6b6b !important;
}
