.playWrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatWrapper {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 -15px 0 0;
}

.shareButton {
  margin: 0 0 0 auto;
}

.chatContent {
  display: flex;
  flex-direction: column;
}

.playButton {
  cursor: pointer;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.3);
  transition: border ease 0.1s;
}

.playButton:hover {
  border: 7px solid rgba(0, 0, 0, 0.3);
}

.playIcon {
  width: 15px;
  padding: 2px 0 0 2px;
}

.adjustment {
  font-size: 13px;
  display: flex;
  align-items: center;
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #373737;
}

.adjustment span {
  margin: 0 5px;
}
