.scrollDown {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #f00;
  transform: translate(-50%, 0);
  transition: all ease .2s;
}