.scrollDown {
  opacity: .85;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #bbbbbb;
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #000000;
  transform: translate(-50%, 0);
  transition: all ease .2s;
}

.scrollDown:hover {
  opacity: 1;
}