.wrapper {
  color: #bbb;
  border-radius: 3px;
  background-color: #232323;
  border-left: 3px solid #f00;
  margin: 10px 15px 10px 0;
  padding: 10px 15px;
  font-size: 14px;
  overflow: hidden;
}

.wrapper img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 130px;
}

.wrapper a {
  display: block;
  color: rgb(219, 219, 219);
  transition: all ease 0.2s;
}

.wrapper a:hover {
  color: #fff;
}

.wrapper a:hover .open {
  opacity: 1;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

.open {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 13px 15px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.2s;
}

.openIcon {
  color: #fff;
  width: 20px;
}

.provider {
  font-size: 13px;
}

.title {
  color: #fff;
  margin: 5px 0 15px 0;
}

.description {
  margin: 15px 0 0 0;
  color:#bbb;
  line-height: 18px;
  font-size: 13px;
}
