.wrapper {
  line-height: 22px;
  min-height: 30px;
  padding: 0 15px 0 0;
  margin: 2px 0;
  font-size: 14px;
}

.wrapper a {
  color: #41ff56;
  transition: all ease 0.2s;
}

.wrapper a:hover {
  color: #9cffa7;
}

.author {
  cursor: pointer;
  font-weight: 500 !important;
  user-select: none;
}

.author:hover {
  text-decoration: underline;
}

.message {
  color: rgb(219, 219, 219);
  word-wrap: break-word;
}

.action {
  font-style: italic;
  color: rgb(219, 219, 219);
}

.icons {
  display: inline-block;
}

.icons img {
  vertical-align: middle;
  margin: 0 4px 0 0;
}

.time {
  font-size: 12px;
  margin: 0 5px 0 0;
  color: #6b6b6b !important;
}
