.button {
  cursor: pointer;
  padding: 3px 10px;
  display: flex;
  color: #fff;
  border-radius: 3px;
  background-color: #383838;
  transition: all ease 0.2s;
  margin: 0 3px;
}

.button:hover {
  background-color: #f00;
}

.button svg {
  width: 8px;
}

.button span {
  margin: 0 0 0 5px;
  font-size: 13px;
}

.button:active {
  background-color: #f00 !important;
  transform: scale(1.1);
}
