.button {
  cursor: pointer;
  padding: 3px 10px;
  display: flex;
  color: #fff;
  border-radius: 3px;
  background-color: #383838;
  transition: all ease .2s;
  margin: 0 3px;
}

.button:hover {
  background-color:#f00;
}

.button div {
  width: 8px;
}

.button span {
  margin: 0 0 0 5px;
  font-size: 13px;
}

.red {
  cursor: pointer;
  padding: 3px 6px;
  display: flex;
  color: #fff;
  border-radius: 3px;
  transition: all ease .2s;
  margin: 0 3px;
  background-color: #f00;
}

.red:hover {
  background-color: rgb(189, 27, 27);
}