.wrapper {
  position: absolute;
}

.calendar {
  left: 0;
  top: 18px;
  position: absolute;
  z-index: 997;
}

.videosCount {
  opacity: 0;
  background-color: #373737;
  width: 17px;
  text-align: center;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  position: absolute;
  font-size: 10px;
  top: 1px;
  left: 1px;
}