.toolbarMenu {
  display: flex;
  list-style: none;
}

.toolbarMenu > li {
  position: relative;
  margin-right: 35px;
}

.toolbarMenu li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: all ease 0.2s;
}

.toolbarMenu li a:hover {
  color: #f00;
}

.toolbarMenuIcon {
  width: 13px;
  margin-right: 15px;
  color: #6b6b6b;
}

@media (max-width: 1160px) {
  .toolbarMenu > li {
    margin-right: 20px;
  }
}

@media (max-width: 1115px) {
  .toolbarMenu > li:last-child {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .wrapper {
    width: 100%;
  }
  .toolbarMenu {
    justify-content: space-between;
  }
  .toolbarMenu > li {
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  .wrapper {
    display: none;
  }
}
