.wrapper {
  position: relative;
  z-index: 997;
  top: 18px;
}

@media (max-width: 990px) {
  .wrapper {
    z-index: 999;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
